
Project Name: HTML Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* SETUP
/*******************************************/
/* Box Model Hack: http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
/* Micro clearfix hack: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
  clear: both;
}
/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: black;
  font-size: 18px;
  background: white;
  font-family: 'Source Sans Pro', sans-serif;
}
h1 { font-size: 30px;
 color: rgba(0, 150, 200, 1);
 font-weight: 700;
  }

h2 {
  font-size: 40px;
 color: rgba(0, 150, 200, 1);
 font-weight: 700;
}

h3{
  color: rgba(0, 150, 200, 1);
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
}
h4{
  color: rgba(0, 150, 200, 1);
  font-size: 25px;
}

/*The Navigation and header*/

header{
	background-color: rgba(0, 150, 200, 1);
	width: 100%;
	position: fixed;
	height: 100px;
	font-size: 18px;
  z-index: 100;
}

.logo{
	padding: 25px 0px 0px 10%;
	float: left;
}

#logo{
	width: 225px;
}

nav ul{
	padding-right: 10%;
	margin: 0px;
	padding-top: 20px;
	float: right;
}

nav li{
	font-weight: 500;
	color: #f9e42e;
	list-style-type: none;
	display: inline-block;
	padding: 25px;
}

nav li a{
	  
	color: #fff;
  transition: color .2s ease-out;
}

nav li a:hover {
  color: rgba(255, 255, 255, .5);
}

.hamburger {
  display: none;
  float: right;
  cursor: pointer;
  margin: 35px 0;
}

.bar{
    padding-top: 0px;
    margin: 5px 50px;
    width:30px;
    height:4px;
    border:1.5px solid white;
    border-radius:10px;
}

.hamburger:hover .bar{
  background-color:white;
  transition: background 0.3s linear;
}

}
main{
	padding-top: 100px;
}
.container{ 
  width: 100%; 
  max-width: 100%;
  padding: 0px;
  }


/******************************************
/* LAYOUT
/*******************************************/

/*Top carousel images*/

#carousel-container{
  width: 100%;
  height: 500px;
  padding-top: 100px;
  position:relative;
}
.slider {
  width: 100%;
  overflow: hidden;
  margin: 0px auto;
  position: relative;
  height: 500px;
  min-height: 500px;
  max-height: 500px;

}
.slider-list {
   z-index: -10;
  margin: 0;
  padding: 0;
  position: fixed;
  white-space: nowrap;
  letter-spacing: -.27em;
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(1, 0.25, 0, 1);
  transition: -webkit-transform 0.45s cubic-bezier(1, 0.25, 0, 1);
  transition: transform 0.45s cubic-bezier(1, 0.25, 0, 1);
  transition: transform 0.45s cubic-bezier(1, 0.25, 0, 1), -webkit-transform 0.45s cubic-bezier(1, 0.25, 0, 1);
}
.slider-list > * {
  width: 100%;
  height: auto;
  background: #ccc;
  list-style: none;
  letter-spacing: 0;
  display: inline-block;
}
.slider-list > *:nth-child(2n) {
  background: #eee;
}
.slider-list > * img {
  width: 100%;
  position: center bottom;
  vertical-align: top;
  min-height: 500px;
}

.slider-nav {
  top: 225px;
  color: #fff;
  border: none;
  padding: 30px 10px 30px 10px;
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  background: rgba(255,255,255,.3);
  transform: translateY(-50%);
  border-radius: 0 100px 100px 0;
  outline: none;
}

 .slider-next {
    right: 0;
    border-radius: 100px 0 0 100px;
  }

.overbanner {
  position: relative;
  float: right;
  width: 40%;
  margin: 5% 10%;
  padding: 4%;
  background-color: rgba(255, 255, 255, .7);
}
#over1{
  display: block;
}
#over2{
  display: none;
}
#over3{
  display: none;
}

.triangle-left{
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 20px;
  border-bottom-width: 20px;
  border-right: 10px solid rgba(255, 255, 255, .5);
}

.triangle-right{
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-top-width: 20px;
  border-bottom-width: 20px;
  border-left: 10px solid rgba(255, 255, 255, .5);
}
/*About section icons and colums*/

#column-container{
  max-width: 100%;
  float: left;
  padding: 5% 10% 0 10%;
  background-color: white;
}
#info{
   background-color: white;
  padding: 0 10% 5% 10%;
}
.col-wrapper {
  float: left;
  width: 25%;
  vertical-align: top;
}
.column{
  padding: 50px 15% 25px 15%;
  text-align: center;
}
.column img{
  width: 125px;
  margin: 0 auto;
}
/*testimonial section*/
#testimonial-container{
  max-width: 100%;
  margin: 0 auto;
  padding: 70px 20% 70px 15%;
  background: url("../images/food-systems-project-management.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left center;}

.over-image{
  float: left;

}

.over-text{
  width: 60%;
  float: left;
  padding-left: 30px;
}

.clearbox {
  float: left;
  width: 100%;
  margin: 5% auto;
  padding: 4%;
  background-color: rgba(255, 255, 255, .8);
}
#a-fix{
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}
#about {
  background-color: white;
  text-align: left;
  padding: 100px 15%;
}

.why-container {
  margin: 0 auto;
  text-align: center;
}

.why-column{
  
  width: 38%;
  margin-top: 10px;
  text-align: left;
  float: left;
  padding: 20px 50px;
  margin: auto;
}

#contact-container{
  max-width: 100%;
  padding: 100px 20% 25px 15%;
  background: url("../images/food-systems-project-management.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top right;}


.thanks-form{
  display: none;
}

form {
  width: 95%;  
}

input, textarea {
  width: 100%;
  padding: 1em;
  display: block;
  margin: 0 0 1em;
  border: 1px solid #ccc;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: rgba(0, 150, 200, 1);;
}

label {
  display: block;
  margin: .5em 0;
}

input[type=submit] {
  width: 50%;
  margin: 0 auto;
  color: #fff;
  border: none;
  font-weight: 700;
  background: rgba(0, 150, 200, 1);
  text-transform: uppercase;
  transition: background .2s ease-out;
}

input[type=submit]:hover {
  background: rgba(0, 150, 200, .6);
}

/* Parsely error message */
.parsley-error,
.parsley-error:focus {
  border-color: rgba(0, 150, 200, .5);
}

.parsley-errors-list {
  padding: 1em;
  display: none;
  margin: -1em 0 1em;
  background: rgba(0, 150, 200, .5);
  color: white;
  width: 100%;
}
.parsley-errors-list.filled {
  display: block;
}
.parsley-errors-list li {
  list-style: none;
}

/******************************************
/* PAGES
/*******************************************/

/******************************************
/* SECTIONS
/******************************************/

/* media Queries when colums get too close */
@media only screen and (max-width: 1200px){

  .col-wrapper { 
    width: 50%;
  }


.overtestimonial {
  text-align: center
}
  .over-image{
  display: none;
}

.over-text{
  width: 80%;
  float: none;
  padding: 5%;
  text-align: center;
}
h3{
  font-size: 20px;
}

.why-column{
  
  width: 100%;
  padding: 20px 0;

}

form {
  width: 75%;  
}
}
@media only screen and (max-width: 800px){

  
  .col-wrapper { 
    width: 100%;
  }
  
  .hamburger {
    display: inline-block;
  }

  nav ul{
    padding-left: 10%
  }

  .overbanner {
  width: 72%;
} 

  #menu{ 
    position: absolute;
    top: 80px;
    padding-left: 0;
    width: 100%;
    background-color: rgba(0, 150, 200, .9);
    max-height: 0;
    overflow: hidden;
    transition: max-height 350ms ease-out;
    text-align: center;
  }
  #menu.active{
      max-height: 300px;
  }
  .slider-list > * img {
  width: 200%;
  vertical-align: center;
  min-height: 500px;
}
}
@media only screen and (max-width: 450px){

#logo{
    width: 175px;
    padding-top: 10px
  }

  .logo{
    padding: 25px 0px 0px 3%;
    float: left;
  }
  .slider-list > * img {
  width: 250%;
  vertical-align: center;
  min-height: 500px;
}
.bar{
    padding-top: 0px;
    margin: 5px 10px;

}

}
